{
  "presets": ["@babel/preset-env"],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "useBuiltIns": "usage", "corejs": "3.0.1" }]
      ]
    }
  },
  "plugins": ["@babel/plugin-transform-runtime"]
}
