$colors: (
  primary: #2196f3,
  on-primary: rgba(255, 255, 255, 0.87),
  secondary: #ff5722,
  on-secondary: rgba(255, 255, 255, 0.87),
  background: #e3f2fd,
  on-background: #1c1e47,
  surface: white,
  on-surface: #1c1e47,
  error: #ff3d00,
  on-error: rgba(255, 255, 255, 0.87),
);

@mixin colorScheme($scheme) {
  background-color: color($scheme);
  color: color('on-' + $scheme);
}

@function color($name) {
  @return map-get($colors, $name);
}

$icon-filter: invert(27%) sepia(16%) saturate(1494%) hue-rotate(174deg)
  brightness(93%) contrast(88%);
