@import './utils.scss';
@import '/styles/fluid.scss';

$font-primary: 'IBM Plex Sans', sans-serif;

$rem-min: 14px;
$rem-max: 18px;
$fs-scale-min: 1.2;
$fs-scale-max: 1.41;
$fs-min-screen: 400px;
$fs-max-screen: 1000px;
