@import '/components/sharedStyles/fluid.scss';
@import '/components/sharedStyles/text.scss';

:root {
  margin: 0;
  padding: 0;
  @include fluid(font-size, $rem-min, $rem-max, $fs-min-screen, $fs-max-screen);
  @include fluid(
    --baseline-raw,
    $rem-min * 1.5,
    $rem-max * 1.5,
    $fs-min-screen,
    $fs-max-screen
  );
  --baseline: var(--baseline-raw);
  line-height: var(--baseline);
  font-family: $font-primary;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}
