$icon-filter: invert(27%) sepia(16%) saturate(1494%) hue-rotate(174deg)
  brightness(93%) contrast(88%);

//----------------------

$colors: (
  primary: #2196f3,
  on-primary: rgba(255, 255, 255, 0.87),
  secondary: #ff5722,
  on-secondary: rgba(255, 255, 255, 0.87),
  background: #e3f2fd,
  on-background: rgba(0, 0, 0, 0.87),
  surface: white,
  on-surface: rgba(0, 0, 0, 0.87),
  error: #ff5722,
  on-error: rgba(255, 255, 255, 0.87),
);

@mixin colorScheme($scheme) {
  background-color: map-get($colors, $scheme);
  color: map-get($colors, 'on-' + $scheme);
}
