$c-primary-foreground: #ffffff;

$c-primary-light: rgb(126, 192, 250);
$c-primary: rgb(89, 109, 238);
$c-primary-dark: rgb(37, 61, 188);

$c-success: green;
$c-error: red;

$c-shadow: rgba(gray, 0.5);

$c-text-primary: black;
$c-text-secondary: white;
