@import "./colors.scss";

$border-radius: 0.2rem;

$shadow: 0px 3px 10px 0px rgba(85, 85, 85, 1);
$shadow-hover: 0px 3px 15px 0px rgba(85, 85, 85, 1);
$shadow-active: 0px 3px 5px 0px rgba(85, 85, 85, 1);

$border: solid 1px $c-primary-intense;
