@import './utils.scss';
@import '/components/sharedStyles/fluid.scss';

// fonts
$font-primary: 'Roboto', sans-serif;

// font sizes
$fs-base: 1rem;
$fs-step: 1.4;

$rem-min: 14px;
$rem-max: 18px;
$fs-scale-min: 1.2;
$fs-scale-max: 1.41;
$fs-min-screen: 400px;
$fs-max-screen: 1000px;

$fs-tagline-1: $fs-base * pow($fs-step, 2);
$fs-tagline-2: $fs-base * pow($fs-step, 1);

$fs-small: $fs-base * pow(1 + ($fs-step - 1) / 2, -1);
